body {
  background: #f8f8f8;
  font-family: 'SourceSans';
  -webkit-font-smoothing: subpixel-antialiased;
  color: #4d4d4d;
}

a {
  color: #1c6eb0;
  text-decoration: none;
}

a:hover {
  color: #3689cc;
  text-decoration: underline;
}

header {
  height: 122px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #f8f8f8;
}

header .shadow {
  bottom: -9px;
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

header .site {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

header div.logo {
  position: absolute;
  left: 70px;
  top: 4px;
  display: block;
  width: 280px;
  height: 120;
  color: #3c4042;
  text-shadow: 0 1px 0 #fff;
  font-size: 60px;
  font-weight: 700;
  margin: 21px 0 0 0;
  letter-spacing: 0;
  line-height: 60px;
}

header div.logo a,
header div.logo a:hover {
  color: #3c4042;
  text-decoration: none;
}

header div.logo::after {
  content: attr(data-subtext);
  font-size: 18px;
  color: #888;
  position: absolute;
  left: 0px;
  margin-top: 30px;
  z-index: -10;
}

header nav {
  position: absolute;
  top: 56px;
  right: 50px;
}

header img.fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  -webkit-transform: scale(0.8);
  -webkit-transform-origin: top right;
  -moz-transform: scale(0.8);
  -moz-transform-origin: top right;
}

header nav li {
  display: inline-block;
  margin: 0 0 0 38px;
}

header nav li a {
  cursor: pointer;
  color: #666;
  text-decoration: none;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
}

header nav li a:hover {
  color: #1a1a1a;
}

.main {
  margin: 130px auto 0;
  width: 820px;
  padding: 10px 0;
}

.main ol,
.main ul {
  margin: 10px 0 10px 30px;
}

.main li {
  margin: 5px 0;
}

.main h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 10px 0px 16px 0px;
}

.main h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 20px 0px 10px 0px;
}

.main.icon {
  padding: 8px 0 0 55px;
  background-image: url("../images/icons_sprite.svg");
  background-repeat: no-repeat;
  height: 40px;
}

.main.icon-about {
  background-position: 0 0;
}

.main.icon-contribute {
  background-position: 0 -48px;
}

.main.icon-mailing-list {
  background-position: 0 -96px;
}

.main.icon-download {
  background-position: 0 -144px;
}

.main.icon-quick-links {
  background-position: 0 -192px;
}

.main h3 {
  font-size: 21px;
  margin: 26px 0px 8px 0px;
  font-weight: normal;
}

.main p,
.main li {
  line-height: 1.2em;
  color: #666;
  font-weight: 200;
}

.main p {
  margin: 1.4em 0;
}

.main .list.mailing-list {
  margin: 10px 0 10px 30px;
}

.main .list.mailing-list li {
  list-style: none;
  background: #eaeaea;
  padding-left: 10px;
  width: 600px;
}

.main .list.mailing-list li strong {
  display: inline-block;
  width: 180px;
}

.main .list.mailing-list li a {
  display: inline-block;
  background: #fff;
  padding-left: 10px;
  width: 407px;
}

a.scroll-point {
  position: relative;
  top: -170px;
}

footer {
  width: 820px;
  margin: 0 auto 2em;
  padding: 30px 0 10px;
  clear: both;
}

footer .language-switcher {
  position: relative;
  top: 1.3em;
  display: none;
}

footer .license {
  font-size: 12px;
  float: right;
}

footer img {
  height: 50px;
  padding-right: 5px;
}

.list-container.quick-links {
  width: 40%;
  float: left;
  margin: 10px 0 0 20px;
}

.list-container.quick-links ul {
  list-style: none;
}

#about ul {
  list-style: none;
}

#about strong {
  text-transform: uppercase;
}
