body {
  width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 140px;
}

body > header nav {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 110px;
  height: 20px;
  left: 0;
}

.main {
  width: auto;
  margin: 0 20px;
}

body > header nav ul li {
  margin: 0 5px;
}

header .site {
  width: auto;
}

header img.fork {
  display: none;
}

.list-header {
  clear: both;
}

.wrap h2 {
  font-size: 22px;
}

.wrap h3 {
  font-size: 18px;
}

.wrap .list.mailing-list {
  margin: 10px 0 10px 0;
}

.wrap .list.mailing-list li strong {
  width: 120px;
}

h2.icon {
  font-size: 24px;
  padding: 10px 0 0 0;
}

.list.mailing-list li, .list.mailing-list li strong, .wrap .list.mailing-list li a {
  width: 195px;
}

.list.mailing-list li strong {
  display: none;
}

footer .language-switcher {
  float: none;
  width: 200px;
  margin: 0 auto;
}

footer .license {
  float: none;
  text-align: center;
  margin: 4em 0 0;
}