.main {
  width: auto;
  margin: 120px 20px 0;
}

body > header nav {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 70px;
  bottom: -50px;
  left: 0;
}

.main h1 {
  font-size: 20px;
}

footer {
  width: auto;
  padding: 30px 20px 10px;
}
