extends ../layout

block content
  :markdown
    # rtc.io demos

    The following is a list of demos that have been created to help you both try
    out and get to know rtc.io:

    ## Hello World

    This is a literal "Hello World" demo that uses the [`rtc`](https://github.com/rtc-io/rtc)
    package to implement simple video conferencing.

    [DEMO](https://rtc-io.github.io/demo-helloworld/#demoroom "demo")
    [SOURCECODE](https://github.com/rtc-io/demo-helloworld "source")

    ## rtc-quickconnect demo

    This is a demo that shows how `rtc-quickconnect` can be used in conjunction
    with media capture packages to implement video conferencing.  It's a little
    bit more work than "Hello World", but also more flexible.

    [DEMO](https://rtc-io.github.io/demo-quickconnect/ "demo")
    [SOURCECODE](https://github.com/rtc-io/demo-quickconnect "source")

    ## rtc-mesh demo

    A demo of `rtc-mesh` being used in conjunction with [fabric.js](http://fabricjs.com/)
    to keep a set of visual objects in sync across multiple connected peers.

    [DEMO](https://rtc-io.github.io/demo-mesh/ "demo")
    [SOURCECODE](https://github.com/rtc-io/demo-mesh "source")
