doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'rtc.io'
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
		link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
		link(href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/tomorrow.min.css", rel="stylesheet")
		link(href="/css/index.css", rel="stylesheet")

		block css
		block head

	body(ng-app="build")

		header
			div.logo: a(href='/'): img(src="images/rtcio.svg")
			nav(role="navigation").site-nav
				ul.nav-user
					li: a(href='/') About
					li: a(href="/packages.html") Packages

		#body.content-container
			block intro
			block content

		footer.page-footer.content-container
			.container
				.row
					.column-2
						.content
							p &copy; NICTA 2013-2015
							p <a href="http://nicta.com.au/privacy">Privacy</a> | <a href="http://groups.google.com/d/forum/build-rtc-io">Discussion and Support</a>
					.column-2
						.content
							p.license Project source code is licensed under the&nbsp;
								a(href="https://github.com/rtc-io/rtc/blob/master/LICENSE") Apache 2.0

		
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js")
		script.
			hljs.initHighlightingOnLoad();
		block js
